*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 50px;
  color: #fff;
  min-height: 100vh;
  background:#006666;
  text-rendering: optimizeSpeed;
  font-family: "Roboto", sans-serif;
}

.App {
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background:#003333;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
  border-radius: 25px;
}

h1 {
  color:#33CCCC;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

.input-wrapper {
  margin: 3.5rem 0  ;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.todos-wrapper {
  margin-bottom: 2.5rem;
  
}

.todo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

input {
  width: 59%;
  padding: 0.8em;
}

input:focus {
  outline: none;
}


input,
button {
  font-size: 1em;
  appearance: none;
  color: currentcolor;
  border-radius: 8px;
  background: transparent;
  border: 1px solid #828691;
}


ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 59%;
  padding: 0.85em;
  text-align: left;
  margin-bottom: 0.5rem;
  background: #CC6633;
  border-radius: 12.5px;
  margin-right: 25px;
  letter-spacing: 0.02rem;
  transition: all 0.3s ease-out;
  border-left: 5px solid #cf972e;
}

li:hover {
  background: #42403e;
}

li:last-child {
  margin-bottom: 0px;
}

.empty {
  font-size: 20px;
  font-weight: 400;
  color: #cf972e;
  letter-spacing: 0.1rem;
}

.checkbox  {
  width: auto;
  appearance: auto;
}

.completed {
  text-decoration: line-through;
}

.iconFavorite {
  cursor: pointer;
  color: yellow;
}

.todo-animation {
  animation: addTodoAnimation 0.3s;
}


@keyframes addTodoAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
